/* global jQuery */

// Bootstrap all JS
(function($, Share, AppName) {
    'use strict';

    $(function() {
        // Global Mediator for Components
        Share.Mediator = new Share.Utils.EventEmitter();

        // Media Query utility
        Share.Utils.DeviceState.init('micro');

        // Initialise the components from the component directory
        Share.Utils.Initialiser.init(Share.Component, AppName.Config.Share, 'SV');
        Share.Utils.Initialiser.init(AppName.Component, AppName.Config.AppName, 'AppName');
    });
})(jQuery, Share, AppName);

